* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif;
}

/* lato font stiles
regular
bold
bold italic
italic */

:root {
  --grey: #272a31;
  --orange: #ec5242;
  --light-grey: #d3d3d3;
}

/* ============================== Main page ============================== */

.main-title-section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  background-image: url(./images/bg-header.jpg);
  background-size: contain;
}

/* ------------------------------ nav section ------------------------------ */

.navbar {
  background: none;
  padding: 1em 30px;
}

.hamburger {
  display: block;
  height: 35px;
  width: 40px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  background-color: #5d5d5d;
  height: 7px;
  width: 100%;
  margin: 6px 0;
}

/* ------------------------------ title section ------------------------------ */

.head-title-container {
  padding: 0.8em;
}

.head-title-container > * {
  margin: 10px 0;
}

.head-title-small {
  color: #ec5242;
  font-size: 1.3em;
  font-weight: 300;
}

.head-title-big {
  color: var(--orange);
  font-weight: 800;
  line-height: 32px;
}

.head-description {
  border: solid white;
  background-color: #f7f7f7;
  padding: 0.6em;
  font-size: 14px;
  line-height: 23px;
}

.head-date {
  color: #5d5d5d;
  font-weight: 900;
  font-size: 1.4em;
}

.head-place {
  font-weight: 300;
  font-size: 1.1em;
}

.section-title {
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}

/* ------------------------------ program section ------------------------------ */

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
  color: white;
  padding: 1em;
}

.section-divider {
  border: 1px solid var(--orange);
  width: 50px;
  margin-bottom: 20px;
}

.main-program ul {
  list-style: none;
  gap: 15px 0;
}

.program-activity {
  display: flex;
  align-items: center;
  gap: 0 1em;
  margin: 10px 0;
  padding: 1.5em;
  background-color: #d3d3d320;
}

.main-program ul h4 {
  color: var(--orange);
  flex: 1;
}

.main-program ul img {
  width: 40px;
  height: 40px;
}

.main-program ul p {
  flex: 2.5;
}

.main-program button {
  border: none;
  appearance: none;
  outline: none;
  background-color: #ff4f38;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  height: 5rem;
  margin: 2.3em 4em;
}

/* ------------------------------ Champion section ------------------------------ */

.featured-champions {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.champ-grid {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem 0;
}

.champ-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.champ-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.checkers {
  position: relative;
  left: 0;
  top: 0;
  width: 90%;
  z-index: -1;
}

.avatar-img {
  position: absolute;
  top: 1em;
  left: 1em;
  max-width: 95%;
}

.champ-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 65%;
}

.champ-name {
  font-size: 24px;
  font-weight: 700;
}

.champ-job {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-style: italic;
  color: var(--orange);
}

.champ-divider {
  width: 10%;
  border-color: var(--light-grey);
}

.champ-description {
  font-size: 16px;
  line-height: 24px;
}

.champions-more {
  width: 100%;
  border: solid 2px var(--light-grey);
  border-radius: 3px;
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
}

/* ============================== About page ============================== */

/* ------------------------------ About main section ------------------------------ */
.about-title-section {
  background-color: #f7f7f7;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.8em;
  text-align: center;
  line-height: 24px;
}

.about-title-small {
  color: #ec5242;
  font-size: 1.3em;
  font-weight: 300;
}

.about-title-big {
  color: var(--orange);
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 1em;
}

.about-description {
  width: 100%;
  padding: 0.6em;
  line-height: 26px;
  background-color: white;
  border: solid 1px var(--light-grey);
}

.question-contact {
  padding: 0 2em;
  font-size: 15px;
}

.question-contact a:link {
  font-weight: bold;
  color: var(--grey);
}

/* ------------------------------ Logo section ------------------------------ */

.about-logo-section {
  background-color: white;
  padding: 1.5em;
  border: solid #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 24px;
  gap: 1em;
}

.about-section-divider {
  width: 25px;
  margin: 10px 0;
}

.about-logo-container {
  width: 100%;
  padding: 0.8em;
  border: solid 1px #f7f7f7;
}

.summit-logo {
  max-width: 100%;
}

/* ------------------------------ Past years section ------------------------------ */

.about-past-summits-section {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em 0;
  text-align: center;
}

.past-years-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2em 0;
  width: 100%;
}

.single-year-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background-size: cover;
}

.single-year-container > * {
  z-index: 10;
}

.single-year-container .img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 0;
}

.single-year-container::after {
  content: '';
  width: 100%;
  height: calc(100% - 4px);
  background-color: #fa3218;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.single-year-container .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------ Partners section ------------------------------ */

.about-partners-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414246;
  color: white;
  padding: 0.8em;
}

.partner-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.partner-item {
  max-width: 120px;
  padding: 10px;
}

.partner-img {
  max-width: 100%;
}

/* ------------------------------ footer section ------------------------------ */

.about-footer-section {
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 0.6em;
}

.footer-img-container {
  max-width: 120px;
  background-color: #414246;
  padding: 0.5em;
}

.footer-img-container .img {
  max-width: 100%;
}

.reserved-rights {
  font-size: 13px;
}
