* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif;
}

:root {
  --grey: #272a31;
  --orange: #ec5242;
  --light-grey: #d3d3d3;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

/* ============================== Nav Menu ============================== */
.nav-menu-mobile.is-active {
  transform: translate(100%, 0);
  opacity: 1;
}

.nav-menu-mobile {
  opacity: 0;
  position: fixed;
  top: 0;
  left: -65%;
  height: 100vh;
  width: 65vw;
  background-color: #d3d3d3ba;
  backdrop-filter: blur(3px);
  z-index: 20;
  transition: 0.5s;
}

.nav-menu-ul {
  margin-top: 3.7rem;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.nav-menu-li {
  display: flex;
  width: 100%;
  background-color: #3e3e3e;
}

.nav-menu-li > a {
  width: 100%;
  padding: 1rem;
}

.nav-menu-li > a:hover {
  background-color: var(--orange);
}

.nav-menu-li > a:link,
.nav-menu-li > a:visited {
  text-decoration: none;
  color: white;
}

/* ============================== Main page ============================== */

.main-title-section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  background-image: url(./images/bg-header.jpg);
  background-size: contain;
  background-position: center top;
}

/* ------------------------------ nav section ------------------------------ */

.navbar-mobile {
  background: none;
  padding: 1em 30px;
  z-index: 21;
}

.navbar-desktop {
  display: none;
}

.hamburger {
  display: block;
  height: 20px;
  width: 25px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  background-color: #5d5d5d;
  height: 5px;
  width: 100%;
  margin: 4px 0;
  transition: 0.2s;
}

.bar {
  transition: 0s;
}

.hamburger.is-active .bar {
  visibility: hidden;
}

.hamburger.is-active::before {
  transform:
    rotate(45deg)
    translate(-5px, 10px);
}

.hamburger.is-active::after {
  transform:
    rotate(-45deg)
    translate(3px, -18px);
}

/* ------------------------------ title section ------------------------------ */

.head-title-container {
  padding: 0.8em;
}

.head-title-container > * {
  margin: 10px 0;
}

.head-title-small {
  color: #ec5242;
  font-size: 1.3em;
  font-weight: 300;
}

.head-title-big {
  color: var(--orange);
  font-weight: 800;
  line-height: 32px;
}

.head-description {
  border: solid white;
  background-color: #f7f7f7;
  padding: 0.6em;
  font-size: 14px;
  line-height: 23px;
}

.head-date {
  color: #5d5d5d;
  font-weight: 900;
  font-size: 1.4em;
}

.head-place {
  font-weight: 300;
  font-size: 1.1em;
}

.section-title {
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}

/* ------------------------------ program section ------------------------------ */

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/black-texture.jpg);
  background-size: contain;
  background-color: var(--grey);
  color: white;
  padding: 1em;
}

.section-divider {
  border: 1px solid var(--orange);
  width: 50px;
  margin-bottom: 20px;
}

.program-list {
  list-style: none;
  gap: 15px 0;
}

.program-activity {
  display: flex;
  align-items: center;
  gap: 0 1em;
  margin: 10px 0;
  padding: 1.5em;
  background-color: #d3d3d320;
}

.program-list h4 {
  color: var(--orange);
  flex: 1;
}

.program-list img {
  width: 40px;
  height: 40px;
}

.program-list p {
  flex: 2.5;
}

.program-join-btn {
  border: none;
  appearance: none;
  outline: none;
  background-color: #ff4f38;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  height: 5rem;
  margin: 2.3em 4em;
}

.program-join-btn:active {
  background-color: #ba2e1c;
}

.program-full-link {
  display: none;
}

/* ------------------------------ Champion section ------------------------------ */

.featured-champions {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.champ-grid {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem 0;
}

.champ-card {
  display: flex;
  align-items: center;
}

.champ-left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin-right: 5%;
}

.checkers {
  position: relative;
  left: 0;
  top: 0;
  width: 90%;
  z-index: -1;
}

.avatar-img {
  position: absolute;
  top: 1em;
  left: 1em;
  max-width: 95%;
}

.champ-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 4;
}

.champ-name {
  font-size: 24px;
  font-weight: 700;
}

.champ-job {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-style: italic;
  color: var(--orange);
}

.champ-divider {
  width: 10%;
  border-color: var(--light-grey);
}

.champ-description {
  font-size: 16px;
  line-height: 24px;
}

.champions-more {
  width: 100%;
  border: solid 2px var(--light-grey);
  border-radius: 3px;
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
}

.up-arrow {
  object-fit: contain;
  width: 15px;
  margin: 0 10px;
  transform: rotate(180deg);
}

.champions-more.is-active .up-arrow {
  transform: rotate(0deg);
}

/* ============================== About page ============================== */

/* ------------------------------ About main section ------------------------------ */
.about-title-section {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  background-image: url(./images/bg-header-alt1.jpg);
  background-size: contain;
  background-position: top;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.8em;
  text-align: center;
  line-height: 24px;
}

.about-title-small {
  color: #ec5242;
  font-size: 1.3em;
  font-weight: 300;
}

.about-title-big {
  color: var(--orange);
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 1em;
}

.about-description {
  width: 100%;
  padding: 0.6em;
  line-height: 26px;
  background-color: white;
  border: solid 1px var(--light-grey);
}

.question-contact {
  padding: 0 2em;
  font-size: 15px;
}

.question-contact a:link {
  font-weight: bold;
  color: var(--grey);
}

/* ------------------------------ Logo section ------------------------------ */

.about-logo-section {
  border: solid #f7f7f7;
  background-color: white;
  padding: 1.5em;
}

.about-logo-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 24px;
  gap: 1em;
}

.about-section-divider {
  width: 25px;
  margin: 10px 0;
}

.about-logo-container {
  width: 100%;
  padding: 0.8em;
  border: solid 1px #f7f7f7;
  display: flex;
  align-items: center;
  max-width: 420px;
}

.summit-logo {
  max-width: 100%;
}

/* ------------------------------ Past years section ------------------------------ */

.about-past-summits-section {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em 0;
  text-align: center;
}

.past-years-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  margin: 2em 0;
  width: 100%;
  max-width: 420px;
}

.single-year-container {
  position: relative;
  width: 90%;
  max-width: 600px;
}

.single-year-container > * {
  z-index: 10;
}

.single-year-container .img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.single-year-container::after {
  content: '';
  width: 100%;
  height: calc(100% - 4px);
  background-color: #fa3218;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.single-year-container .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------ Partners section ------------------------------ */

.partners-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  color: white;
  padding: 0.8em;
}

.partner-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.partner-item {
  max-width: 120px;
  padding: 10px;
}

.partner-img {
  max-width: 100%;
}

/* ------------------------------ footer section ------------------------------ */

.footer-section {
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 0.6em;
}

.footer-img-container {
  max-width: 120px;
  background-color: #414246;
  padding: 0.5em;
}

.footer-img-container .img {
  max-width: 100%;
}

.reserved-rights {
  font-size: 13px;
}

/* ============================== Desktop version > 768 ============================== */

@media only screen and (min-width: 768px) {
  /* ------------------------------ Nav Bars ------------------------------ */

  .navbar-mobile {
    display: none;
  }

  .login-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1.3em;
    background-color: #3e3e3e;
    color: white;
    padding: 0 6em;
  }

  .login-bar ul {
    display: flex;
    list-style: none;
    font-size: 10px;
    color: white;
    gap: 0 1em;
  }

  .login-li {
    display: flex;
    align-items: center;
    height: 20px;
  }

  .login-li button {
    background: none;
    outline: none;
    border: none;
    color: white;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .login-li:nth-child(1) > button,
  .login-li:nth-child(2) > button {
    background-color: white;
    border-radius: 50%;
  }

  .login-media-img {
    object-fit: contain;
    height: 17px;
  }

  .navbar-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .nav-ul-desktop {
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 3em;
    width: 100%;
    padding: 0 10%;
    box-shadow: 0 2px 5px #2e2e2e;
  }

  .nav-li-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    font-size: 12px;
  }

  .nav-li-desktop > a {
    width: 100%;
  }

  .nav-li-desktop a:link,
  .nav-li-desktop a:visited {
    text-decoration: none;
    color: #3e3e3e;
    text-align: center;
  }

  .nav-li-desktop:first-child {
    flex: 4;
    justify-content: flex-start;
  }

  .nav-li-desktop:first-child > a {
    width: fit-content;
  }

  .nav-li-desktop:nth-child(7) {
    justify-content: flex-end;
    flex: 2;
  }

  .nav-li-desktop.nav-selected a {
    color: var(--orange);
  }

  .nav-img-desktop {
    max-height: 42px;
    flex: 2;
    object-fit: contain;
  }

  .nav-button-desktop {
    background: none;
    border: solid 3px var(--orange);
    padding: 0.6em;
    color: var(--orange);
    cursor: pointer;
  }

  .nav-button-desktop:active {
    background-color: #fd5f2b;
  }

  /* ------------------------------ Title section desktop------------------------------ */

  .head-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 620px;
    height: 47vh;
    margin: 10% auto;
  }

  .head-title-small {
    font-size: 34px;
  }

  .head-title-big {
    font-size: 60px;
    line-height: 58px;
  }

  /* ------------------------------ program section desktop------------------------------ */

  .program-list {
    display: flex;
    gap: 0 5px;
    max-width: 1200px;
  }

  .program-activity {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: transparent 1px solid;
  }

  .program-activity:hover {
    border: solid 1px var(--light-grey);
  }

  .program-activity > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px 0;
  }

  .program-activity > p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .program-join-btn {
    display: none;
  }

  .program-full-link {
    display: flex;
    width: 80%;
    height: 5rem;
    margin: 2.3em 4em;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 50px;
  }

  .program-full-link:link,
  .program-full-link:visited {
    color: white;
  }

  /* ------------------------------ champions section desktop------------------------------ */

  .champ-grid {
    grid-template-columns: 50% 50%;
    justify-content: space-between;
  }

  .featured-champions {
    margin: 0 5%;
  }

  .champ-card {
    margin: 3% 0;
  }

  .champ-left {
    display: block;
    height: 100%;
  }

  .champ-right {
    margin-left: 5%;
  }

  .checkers {
    max-width: 80px;
  }

  .avatar-img {
    width: 100%;
    max-width: 160px;
    left: 1em;
  }

  .champions-more {
    display: none;
  }

  /* ------------------------------ partners and rights section desktop ------------------------------ */

  .about-partners-section > h2 {
    font-size: 18px;
    font-weight: 200;
    color: #919191;
    margin-top: 1em;
  }

  .footer-section {
    gap: 0 1em;
    max-width: 600px;
    margin: auto;
  }

  .reserved-rights {
    text-align: center;
  }

  /* ============================== About page ============================== */

  /* ------------------------------ Head Title section desktop ------------------------------ */

  .about-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 620px;
    height: 47vh;
    margin: 10% auto;
  }

  .about-logo-main-container {
    margin: 5% 0;
  }

  .about-title-small {
    display: none;
  }

  .question-contact {
    margin-top: 3em;
  }

  /* ------------------------------ About past summits section desktop ------------------------------ */

  .about-past-summits-section {
    margin: 5% 0;
  }

  .past-summit-title-line-break {
    display: none;
  }

  .past-years-container {
    flex-direction: row;
    align-items: stretch;
    max-width: 850px;
  }

  .single-year-container::after {
    height: 100%;
  }

  .about-partners-section {
    display: none;
  }

  .about-footer-section {
    background-color: #2e2e2e;
    color: white;
    font-size: 8px;
    font-weight: 100;
    padding: 5em 0;
  }
}
